.wordle-row {
    margin-bottom: 15px;
}

.wordle-character {
    width: 60px;
    height: 60px;
    margin-left: 15px;
    margin-right: 15px;
    border: 2px solid black;
    display: inline-block;
    text-align: center;
}


#keyboard-first-row {
    margin-bottom: 10px;
}

#keyboard-second-row {
    margin-bottom: 10px;
}

.single-key {
    display: inline-block;
    margin-left: 15px;
    margin-right: 15px;
    padding: 5px;
    background-color: #dddddd;
    min-width: 40px;
    text-align: center;
}

.single-key:hover {
    cursor: pointer;
}

.character-correct {
    background-color: green;
    border-color: green;
}

.character-correct-position-wrong {
    background-color: orange;
    border-color: orange;
}

.character-wrong {
    background-color: grey;
    border-color: grey;
}